@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

body {
    transition: .3s ease all;
}

.img-fluid {
    object-fit: cover;
  }
.img-c{
    height: 200px;
    width: 160px
}



/*contenedor de envio gratis*/
.shipping-container {
    position: relative;
    display: inline-block;
}

.shipping-text {
    font-size: 16px;
    margin-left: 35em;
    padding: 5px 10px;
    border-radius: 5px;
    animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    50% {
        opacity: 1;
    }

    51%,
    100% {
        opacity: 0;
    }
}


/*botonera*/
.bg-celeste {
    background-color: cornflowerblue;
    color: white;
}

.cabecera {
         display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0em 1em !important; 
} 

.navbar-nav {
    display: flex;
    align-items: flex-start;
    text-align: start;
    justify-content: flex-start;

}


/*selector de productos:*/
#selectOpciones {
    background-color: lightsteelblue;
    color: white;
    font-size: 1em;
}


/*textos*/
.title-h1 {
    margin: 0.3em;
    justify-content: center;
    align-items: center;
    display: flex;
}

.text-center {
    margin: 1em;
}

.text-blue {
    color: blue;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.titles {
    text-align: center;
    margin: 0.5em;
}

.card-title {
    text-align: center;
    font-size: 1.4em;
    color: white;
    font-weight: bold;
}

.titles {
    text-align: center;
    margin: 0.5em;
}

.title-contacto {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 1.5em;
    color: magenta;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 0.5em;
}

.title-h1 {
    margin: 0.3em;
    justify-content: center;
    align-items: center;
    display: flex;
}

.text-color {
    font-weight: bold;
    color: lightskyblue;
    font-size: 16px;
}


/*card de bs*/
    .margen-card {
        margin: 1em;
        padding: 0em 1em;
    }

    .color-card {
        font-size: 1.3em;
    }

    .card-title {
        text-align: center;
        font-size: 1.3em;
        margin: 0.5em;
    }


/*modal de carrito*/
.modal-p {
    font-weight: bold;
    box-sizing: border-box;
    margin: 0.2em 0em;
}

.card {
    background-color: black;
    color: white;
    border-color: aliceblue;
}

.card-text {
    font-weight: bold;
    color: lightskyblue;
    text-align: center;
}

/*imagenes del carrito*/
.widht {
    display: flex;
    object-fit: cover;
}

.btn-danger {
    margin: 1em;
}

.card-body {
    display: flex;
    justify-content: space-evenly;
    margin: 0.5em;
    align-items: center;
}

.text .text-modal {
    text-transform: lowercase;
    font-size: 14px;
    font-weight: 700;
    overflow: hidden;
    margin: auto;
}

/*modal footer*/
.modal-body {
    background-color: black;
}

.modal-header {
    background-color: black;
    color: white;
}

.modal-footer {
    background-color: black;
}
 


/*formulario  DE PRODUCTOS*/
.title-producto {
    color: magenta;
    text-shadow: 0px 2px 2px gray;
    margin: 1em;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    display: flex;
    align-items: center;
    margin: 0.4em;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
}

.form-input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25em;
    width: 40%;
}







/*form de netsletter*/
.centrar-form {
    text-align: center;
}

.margenes-input {
    margin-bottom: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: blue;
    font-size: 1em;
}

.padding-text {
    padding: 0.2em;
}



/*formulario de contacto*/
.contacto-Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    margin: 1em;
    color: black;
}








.carta {
    width: 140px;
    height: 140px;
    object-fit: cover;
}

.tamaño {
    object-fit: cover;
}

/*formulario*/
.align-input {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0.7em;
    width: 70%;
    margin-left: 24em;
}



/* Estilos para el botón de dark mode */
.dark-mode {
    background-color: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
}

.dark-mode::after {
    display: flex;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 2);
}

.dark-mode {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-flex;
    background: none;
    color: #fff;
    margin-right: 15px;
}

body.dark {
    background-color: black;
    color: white;
}

body.dark label {
    color: white;
}

/*BOTONES*/
.botonSesiones {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton-registrarse {
    background-color: crimson;
    color: white;
    border-radius: 0.4em;
    margin-bottom: 1.1em;
    border-color: transparent;

}

.botonSesion {
    margin-top: 1em;
    margin: 10px;
    background-color: blueviolet;
    color: white;
    border-radius: 12em;
    padding: 0.4em;
}

.boton-search {
    color: white;
    background-color: black;
    border-radius: 0.5em;
}

.btn-enviar {
    background-color: blueviolet;
    color: white;
    padding: 0.5em;
    border-radius: 0.2em;
    margin: 0.5em;
    border-color: transparent;
}

.botonCerrarSesion {
    border-radius: 12em;
    color: white;
    background-color: cadetblue;
    padding: 0.4em;
}

.agregarProd {
    margin-left: 40em !important;
}

.colors {
    background-color: grey;
    color: white;
    border-color: transparent;
}

.color {
    background-color: darkorchid;
    color: white;
    margin: 0.5em;
    border-color: transparent;
}

/*netsletter*/
.centrar-form {
    text-align: center;
}

.margenes-input {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 1em;
}


/*footer*/
 footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-p {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0.5em;
}

.text-footer {
    justify-content: center;
    display: flex;
    align-items: center;
}

.ubicanos-info {
    display: flex;
    margin: 0.2em;
}

.margen {
    margin: 0.5em;
} 